<h1>Login</h1>
<form [formGroup]="myform" (ngSubmit)="SubmitDetails()">
  
   <div>
       <input type="text" id="username" name="username" placeholder="username *" formControlName="username">
       <span *ngIf="myform.controls.username?.errors?.required">Username is required</span>
       <span *ngIf="myform.value.username.required && myform.value.username.touched">Username is required</span>
   </div>
   <div><br>
    <input type="password" id="password" name="password" placeholder="password *" formControlName="password"><br>
    <span *ngIf="myform.controls.password?.errors?.required">password is required</span>
    <span *ngIf="myform.value.password.required && myform.value.password.touched">Username is required</span>
   </div>
   <br>
   <br>
   <button type="submit">Login</button>

</form>